<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>To DO LIST</title>
</head>
<body>

    <section class="container">

        <h1> Notes</h1>

        <form  action="/lists" method="POST" id="envoyer">
            <input type="text" name="name">
            <input type="submit">
            <!-- <button type="submit">Ajouter</button> -->
        </form>

        <ul>
            <%  lists.forEach(list => {  %>
                <li>
                    <a href="tasksByList/<%= list.id %>"><%= list.name %> </a> <span class="date"><%= list.date_creation %></span>
                    <a href="lists/<%= list.id %>"><img src="/images/x-button.svg" alt="Supprimer" width="20px"></a>
                </li>
            <% }) %>
        </ul>

        <div id="add"><img src="/images/plus.svg" alt="" width="50px" onclick="displayForm()"></div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>